__pycache__/
*.py[cod]
*$py.class

# generated template
packaged-template.yml

code.zip
# ignore code
code/*
# execpt our own module
!code/uptime
!requirements.txt
!code/local_secrets.py.txt
code/local_secrets.py
